man/rcpp_hello_world.Rd
Read-and-delete-me.*
data/*.csv
vignettes/*.pdf
*.pdf
R_simulation/*
tests_simulation/*
clustSIMULATION/tests_simulation
.gitignore
.Rbuildignore
.R_Cache/
.Rhistory
out/*
tests/.Rhistory
vignettes/.R_Cache/*
vignettes/.Rhistory

.Rproj.user
